<div class="main-container">
<div class="card mb-0">
  <div class="card-header">
    {{name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>

</div>

