<div class="main-container">
  
  {{#if logged_in}}
<a class="btn custom-button create-post" href="/blog_new_post" role="button">Create Post</a>
{{/if}}

  {{#each forums as |forum|}}
  <div class="card">
  <div class="card-header">
    {{forum.name}}
  </div>
  <div class="card-body">
    <a href="/blog_post/{{forum.id}}"><h5 class="card-title">{{forum.title}}</h5></a>
    <p class="card-text">{{forum.description}}</p>
  </div>
</div>
  {{/each}}
</div>

<script src="../utils/helpers.js"></script>



