<div class="register-container">

<h2 class="register-header">Sign Up</h2>

<div class="container d-flex align-items-center">
<form class="form-horizontal register-form">
<div class="form-group">
    <label for="inputUsername3" class="col-sm-2 control-label username">Username:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="userName-signup" style="width: 290px" placeholder="Username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email-signup" style="width: 290px" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label password">Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" style="width: 290px" id="password-signup" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn custom-button register">Sign Up</button>
    </div>
  </div>
  <div class="form-group">
    <div class="account">
      <h6 class="inline-text">Already have an account?</h6>
      <a href="/login"class="inline-link">Log In Here!</a>
    </div>
  </div>
</form>
</div>


</div>

<script src="/js/register.js"></script>
